<% content_for :header do %>
  <h3>... my cousin works for Bit.ly</h3>
<% end %>

<nav>
  <ul>
    <li><%= link_to session[:came_from], title: 'Go Back Where Ye\' Came From' do %>
      <%= image_tag 'arrow_left.png' %> back
    <% end %></li>
  </ul>
</nav>

<h2>Editing "<%= @article.title %>"</h2>

<%= render 'form', submit_button: 'Save Changes' %>
