-content_for :header do
  %h3 ... not just for the country of Spain

%nav
  %ul
    %li
      = link_to Article, title: 'Go Back Where Ye\' Came From' do
        = image_tag 'arrow_left.png'
        list all articles

%h1 Creating a New Article

= render 'form', submit_button: 'Create!'
